<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Questionnaire App</title>
    <script type="text/javascript" src="../js/vue/vue.js"></script>
    <script type="text/javascript" src="../js/jquery/jquery-2.1.0.min.js"></script>
    <script type="text/javascript" src="../js/questionnaire/index.js"></script>
    <script type="text/javascript" src="../js/questionnaire/components.js"></script>
</head>
<body>
    <div id="app">
        <div class="pageContainer">
            <div class="pageOne"  v-show="page[0].show">
                <div class="title">
                    1、请问你的性别是：
                </div>
                <my-form-content>
                    <template v-for="item in gender" >
                        <input v-on:click="checkPass" v-bind:type="item.type" v-bind:value="item.value" name="gender" v-bind:id="item.id"> <label v-bind:for="item.id">{{item.name}}</label>
                    </template>
                </my-form-content>
                <div>
                    <my-button v-bind:value='nopass' v-bind:nopass='nopass' label="下一步" v-on:handle="goToNext" curpage=0 ></my-button>
                </div>
            </div>
            <div class="pageTwo" v-show="page[1].show">
                <div class="title">
                    2、请选择您的兴趣爱好：
                </div>
                <my-form-content>
                    <template v-for="item in hobbies" >
                        <input v-on:click="checkPass" v-bind:type="item.type" v-bind:value="item.value" name="gender" v-bind:id="item.id"> <label v-bind:for="item.id">{{item.name}}</label>
                    </template>
                </my-form-content>
                <my-button label="上一步" v-on:handle="goToPre" curpage=1 ></my-button>
                <my-button v-bind:value='nopass' v-bind:nopass='nopass' label="下一步" v-on:handle="goToNext" curpage=1 ></my-button>
            </div>
            <div class="pageThree" v-show="page[2].show">
                <div class="title">
                    3、请介绍下自己：
                </div>
                <div class="content">
                    <template>
                    </template>
                </div>
            </div>
        </div>


    </div>

</body>
</html>